<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frete Haki</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1></h1>
        <br>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="calculos">Calculos</a></li>
            <li><a href="varredura">Verredura</a></li>
            <li><a href="extrato">Extrato</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Bem-vindo ao nosso site!</h2>
            <p>Pagina dos calculos.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Duck. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
